.header-container {
  align-items: center;
  background-color: rgb(0, 255, 157);
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 12px;
}

.header-logo-image {
  height: 90px;
  margin-right: 12px;
  width: 200px;
}

.player-header-info {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.player-image {
  border-radius: 100%;
  margin-right: 8px;
  width: 50px;
}

.header-player-data {
  display: flex;
  flex-direction: column;
}
