.login-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 500px;
}

.login-form > button, .setting-btn {
  background-color: aquamarine;
  border-radius: 5px;
  border-style: none;
  font-size: 1.1rem;
  height: 30px;
  margin: 5px auto;
  padding: 0 10px;
}

.login-form > label {
  align-items: center;
  display: flex;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin: 5px;
}

label > input {
  background-color: lightgrey;
  border-radius: 5px;
  border-style: none;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 0 3px 8px;
}
