.question-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: flex-start;
}

.question-quest-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.question-info > p, .options-container > p, .question-quest-container > p {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 2px;
}

p > span {
  font-weight: 500;
  margin-top: 2px;
}

.question-type, .question-difficulty, .question-category {
  margin-bottom: 5px;
  margin-top: 5px;
}

.question-container > span {
  font-size: 1.2rem;
}

.question-span {
  font-size: 1.3rem;
}

.answer-container {
  margin: 0;
  padding: 5px;
}

.btn-next {
  margin: 0 auto;
  width: 150px;
}

.answer-container > button, .btn-next {
  background-color: purple;
  border-radius: 6px;
  border-style: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  padding: 10px;
}

.answer-container > button:hover, .btn-next:hover {
  background-color: darkblue;
  cursor: pointer;
}

.answer-container > button:disabled {
  color: darkgray;
  cursor: pointer;
}
